* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #334559;
}

.container {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  padding-bottom: 50px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c1473a;
  border-bottom: 3px solid white;
}

.navbar-image {
  margin-left: 20px;
}

.navbar-image img {
  max-height: 200px;
}

.navbar-right {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-right a:hover {
  color: #334559;
}

.home {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-height: 250px;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 700px;
  width: 100%;
  border-radius: 40px;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.location,
.hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c1473a;
  color: white;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  bottom: 0;
  width: 100%;
}

.copyright,
.designer {
  display: flex;
  align-items: center;
}
